<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='landingpage.css')}}">
    <title></title>
</head>
<body>
    <nav>
        <div class="logo">
          flask project </div>
      
        <ul class="nav-links">
          <li>Home
          </li>
          <li>Services
          </li>
          <li>Contact
          </li>
        </ul>
      
      </nav>
      <main class="hero">
        <div class="row">
           <div class="content-wrapper ">
          
         <h1>Get Started recording your best moments.</h1>
             <p> The love diary facilitates a utmost aesthetic journal to share your thoughts with yourself.</p>
             <a href="/login" class="btn">  Log In</a>
             <a href="/signup" class="btn">  Sign Up</a>
        </div>
          
          <div class="content-wrapper ">
          
        <img src="https://www.pinclipart.com/picdir/big/63-638193_person-writing-in-a-journal-recording-clipart.png"/>
         
        </div>
      </main>
    
</body>
</html>