<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    
</head>
<body>
    <div class="container">
        <form class="box-form" action="/" method="get">
      
          <div class="box-title">
            <h2>Login</h2>
          </div>
      
          <div class="box-inputs">
      
            <div class="inputs-email">
              <input type="email" name="email" id="email" class="input" placeholder="Type your e-mail">
              <label for="email" class="label-inputs">E-mail:</label>
            </div>
      
            <div class="inputs-password">
              <input type="password" name="password" id="password" class="input" placeholder="Type your password">
              <label for="password" class="label-inputs">Password:</label>
            </div>
      
            <div class="inputs-remember">
              <input type="checkbox" name="remember" id="remember" checked>
              <label for="remember">Remember me</label>
            </div>
      
            <div class="box-btn-login">
              <button class="btn-login" type="submit" value="enter">Enter</button>
            </div>
          </div>
      
          <div class="box-register">
            <p>Forgot password? <a href="/forgotpassword">Click here!</a></p>
            <p>Don't have an account? <a href="/signup">Create one!</a></p>
          </div>
    
        </form>
        <div class="hero">
          
          <h1>Flask Project<h1>
        </div>
      </div>
    
</body>
</html>